APScheduler==3.6.0
astroid==1.6.5
atomicwrites==1.3.0
attrs==19.1.0
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorama==0.4.1
configparser==3.7.3
decorator==4.4.0
Flask==1.0.2
funcsigs==1.0.2
futures==3.2.0
idna==2.8
ipython==5.5.0
ipython-genutils==0.2.0
isort==4.3.15
itsdangerous==1.1.0
Jinja2==2.10
lazy-object-proxy==1.3.1
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==5.0.0
mysql-connector==2.1.6
pathlib2==2.3.3
pickleshare==0.7.5
pluggy==0.9.0
py==1.8.0
pylint==1.9.4
pytest==4.3.1
pytz==2018.9
requests==2.21.0
scandir==1.10.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.8
SQLAlchemy==1.3.1
traitlets==4.3.2
tzlocal==1.5.1
urllib3==1.24.1
Werkzeug==0.15.1
win-unicode-console==0.5
wrapt==1.11.1
